body{
    background-color: orange;
    color: rgb(192, 24, 24);
    text-align: center;
    font-family: Helvetica;
}

@media only screen and (min-width:400px){
    header,nav,section,article,aside,footer{
        width:100% ;
    }
}
header{
    background-color: white;
    text-align: center;
    border-radius: .5cm ;
    margin: 0.5cm auto;
    padding: 0.5cm;
    width: 65%;
    border-radius: 2.5em;
}
nav{
    text-align: left;
    display: inline-block;
    background-color: rgb(255, 255, 255) ;
    border-radius: .50em;
    margin: .25em auto;
    padding: .25em;
    width: 15%;
    height: 50%; 
}
article{
    text-align: left;
    display: inline-block;
    background-color: rgb(255, 255, 255) ;
    border-radius: .50em;
    margin: .25em auto;
    padding: .25em;
    width: 45%;
    height: 50%;
}
aside{
    text-align: center;
    background-color: white;
    margin: .25em auto; 
    width: 14%;
    border-radius: 1.25em ;
    padding: .25em;
}
footer{
    background-color: white;
    width: 14%;
    text-align: center;
    display: inline-block;
    border-radius: 5em ;
}
h1{
    border-radius: 5em;
    background-color: white;
    text-align: center;
}